*.BACKUP*
*.BASE*
*.LOCAL*
*.REMOTE*
tags
.DS_Store
.bash_history
*.orig
automation/autohotkey/ahk_start
automation/git/*.sh
automation/divvy/divvy
automation/timers/timer
automation/vim/vim_plugin_update
automation/vim/twitvim
automation/visual_studio/launch_vs_solution
automation/visual_studio/sln
shared/dotfiles/git/.gitconfig
shared/dotfiles/bash/.*
shared/dotfiles/rvm/.rvmrc
shared/dotfiles/tmux/.*
shared/dotfiles/vim/.vimrc
shared/dotfiles/vim/.vim_runtime/vimrc
shared/dotfiles/vim/.vim_runtime/wordlist.vim
shared/dotfiles/vim/vimrc.dotfile.erb
shared/dotfiles/zsh/.zshrc
shared/dotfiles/pentadactyl/.pentadactylrc
.vikingrc
shared/hosts/hosts
shared/dotfiles/vim/.vim_runtime/bundle
Gemfile.lock
*.swp
CurrentSettings.vssettings
conv_*
mac/keymando/.keymandorc.rb
windows/autohotkey/ahk*.ahk
windows/autohotkey/merge_header_002_shared_variables.ahk
windows/autohotkey/launch_ahk
