# bounce out if not running in interactive mode
[ -z "$PS1" ] && return

#. ~/.bash_aliases_coreutils
. ~/.bash_aliases
{{^ core.is_linux }}
. ~/.bash_colors
{{/core.is_linux }}
. ~/.bash_config
. ~/.bash_env
. ~/.bash_git
{{^ core.is_linux }}
. ~/.bash_git_completion
{{/core.is_linux}}

{{^ core.is_mingw }}
. ~/.bash_source_rvm
{{/core.is_mingw}}

{{# core.is_windows }}
. ~/.bash_ssh
{{/core.is_windows }}
